<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <!-- 目标 -->
    <targets>
        <target name="console" xsi:type="Console" layout="${longdate}|${level}|${logger}|${message}" />

        <target name="file" xsi:type="File"
                fileName="${basedir}/logs/app-${shortdate}.log"
                archiveFileName="${basedir}/logs/archived/app-${shortdate}.log"
                maxArchiveFiles="30"
                archiveAboveSize="10485760"
                layout="${longdate}|${level}|${logger}|${message}">
        </target>

        <target name="errorFile" xsi:type="File"
                fileName="${basedir}/logs/errors.log"
                layout="${longdate}|${level}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <!-- 规则 -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="console, file" />
        <logger name="*" minlevel="Error" writeTo="errorFile" />
    </rules>

</nlog>
